<br />
<h1 class="text-center">Pedidos</h1>
<br />
<div class="center-block">
  <mat-card class="card">
    <mat-card-title-group>
      <h1>#01</h1>
      <span class="example-spacer"></span>
      <span class="flex-spacer"></span>
      <table class="table">
        <tr>
          <td>CONFIRMADO</td>
          <td>⠀⠀⠀⠀⠀</td>
          <td>Sem tomate</td>
          <td>⠀⠀⠀⠀⠀</td>
          <td>23:36 11/08</td>
          <td>⠀⠀⠀⠀⠀</td>
          <td>23:36 11/08</td>
        </tr>
      </table>
    </mat-card-title-group>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
<br />
<div class="center-block">
  <mat-card class="card">
    <mat-card-title-group>
      <h1>#02</h1>
      <span class="example-spacer"></span>
      <span class="flex-spacer"></span>
      <table class="table">
        <tr>
          <td>PREPARANDO</td>
          <td>⠀⠀⠀⠀⠀</td>
          <td>Sem cebola</td>
          <td>⠀⠀⠀⠀⠀</td>
          <td>12:36 12/08</td>
          <td>⠀⠀⠀⠀⠀</td>
          <td>13:02 12/08</td>
        </tr>
      </table>
    </mat-card-title-group>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
