<p>pedidos works!</p>
<div class="center-block">
<mat-card class="card">
  <mat-card-title-group>
    <h1>#01</h1>
    <span class="example-spacer"></span>
    <mat-card-content>Status</mat-card-content>
    <span class="example-spacer"></span>
    <mat-card-content>Obs</mat-card-content>
    <span class="example-spacer"></span>
    <mat-card-content>DataPedido</mat-card-content>
    <span class="example-spacer"></span>
    <mat-card-content>DataEntrega</mat-card-content>
  </mat-card-title-group>
</mat-card>
</div>
