<br />
<h1 class="text-center">Pedidos</h1>
<br />
<!--<div class="container">
  <div class="content">
    <div class="table-responsive table-bordered">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>OBS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.cliente }}</td>
            <td>{{ pedido.obs }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->

<!--<div class="container">
  <div class="content">
    <div >
      <table mat-table class="mat-elevation-z8">
        <ng-container >
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matRowDef="let pedido">{{ pedido.id }}</td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef>cliente</th>
          <td mat-cell *matRowDef="let pedido">{{ pedido.cliente }}</td>
        </ng-container>

        <ng-container matColumnDef="obs">
          <th mat-header-cell *matHeaderCellDef>obs</th>
          <td mat-cell *matRowDef="let pedido">{{ pedido.obs }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *ngFor="let pedido for pedidos; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>-->
