<mat-card class="card">
  <mat-card-title-group>
    <img
      mat-card-sm-image
      src="https://images.unsplash.com/photo-1551360021-0ff7982d13dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=910&q=80"
    />
    <span class="example-spacer"></span>
    <mat-card-content>{{ carrinho.lanche.id }}</mat-card-content>
    <span class="example-spacer"></span>
    <mat-card-content>Qtd</mat-card-content>
    <span class="example-spacer"></span>
    <mat-card-content>Valor</mat-card-content>
  </mat-card-title-group>
</mat-card>
