<br />
<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-md-5">
        <mat-card class="card">
          <img
            mat-card-sm-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
          <span class="example-spacer"></span>
          <mat-card-title-group>
            <mat-card-content class="info">1x</mat-card-content>
          </mat-card-title-group>
          <span class="example-spacer"></span>
          <mat-card-title-group>
            <mat-card-content class="info">27.90</mat-card-content>
          </mat-card-title-group>
        </mat-card>
      </div>
      <div class="col-md-7"></div>
    </div>
  </div>
</div>
