.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.teste {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.example-spacer {
  flex: 2 2 auto;
}

.flex-spacer {
  width: 100%;
}

.botao {
  color: green;
}

.mat-button.accent {
  color: rgb(0, 0, 0) !important;
}

button{
  background-color: white;
  color: #000000;
}
