.example-card {
  max-width: 400px;
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.example-spacer {
  flex: 2 2 auto;
}

.flex-spacer {
  width: 100%;
}

.mat-icon-button.accent {
  color: rgb(0, 0, 0) !important;
}

button{
  background-color: white;
  color: #000000;
}

.mat-card-content {
  display: flex;
}

.star_color {
  color: gold;
}

.shop_color {
  color: green;
}

.mat-elevation-z4 {
max-width: 400px;
}
