<mat-card class="mat-elevation-z4">
  <img
    style="max-width: 400px"
    mat-card-image
    alt="nome"
    [src]=lanche.imagemURL
  />
  <mat-card-content>
    <mat-card-title> {{ lanche.nome }} </mat-card-title>
    <span class="example-spacer"></span>
    <mat-icon class="star_color">star</mat-icon>
    <mat-icon class="star_color">star</mat-icon>
    <mat-icon class="star_color">star</mat-icon>
    <mat-icon class="star_color">star</mat-icon>
    <mat-icon class="star_color">star_half</mat-icon>
  </mat-card-content>
  <mat-card-content>{{ lanche.descricao }}</mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button disabled class="accent">
      <mat-icon>attach_money</mat-icon>{{ lanche.valorUnit }}
    </button>
    <span class="flex-spacer"></span>
    <button
      mat-icon-button
      (click)="addLanche()"
      class="example-icon favorite-icon ml-auto"
    >
      <mat-icon class="shop_color">add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<span class="example-spacer"></span>

<!--(click)="abrirAviso('Lanche adicionado ao carrinho!')"-->
